@import "tailwindcss";
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  background: rgb(6,6,8);
  color: #e5e7eb;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}